.header {
	display: flex;
	justify-content: center;
	color: var(--color-text-primary);
}

.heading {
	margin: auto;
}

.main {
	margin-top: 4rem;
	display: flex;
	justify-content: center;
	padding: 0 1rem;
	flex: 1 1 auto;
}

@media screen and (max-width: 768px) {
	.main {
		margin-top: 1.25rem;
	}
}

.container {
	display: flex;
	width: 100%;
	max-width: 67.5rem;
	padding: 1.25rem;
}

.main .container {
	color: white;
	border-radius: var(--radius);
	background: var(--color-bg-gradient);
	min-height: 30rem;
}

@media screen and (max-width: 768px) {
	.main .container {
		max-height: none;
	}
}
